## Code Saved

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
dftrain=pd.read_csv('Merged_final.csv')
dftest=pd.read_csv('Compiled file test.csv')

In [3]:
dftrain.shape

(22862, 17)

In [4]:
dftest.shape

(90675, 13)

In [5]:
dftrain.head(3)

,Unnamed: 0,impression_id,impression_time,user_id,app_code,is_4G,is_click,count_item_id,item_id,os_version_intermediate,os_version_latest,os_version_old,device_type_android,device_type_iphone,AverageCost,MinCost,MaxCost
0,0,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,1,1,12,"43209, 66370, 43209, 43209, 71877, 43209, 4320...",0,1,0,1,0,4452.833333,1024,14166
1,1,43ec517d68b6edd3015b3edc9a11367b,2018-11-15 00:06:00,74339,481,0,1,61,"100847, 117590, 6131, 78766, 129770, 13924, 11...",0,0,1,1,0,13973.377049,377,209024
2,2,42998cf32d552343bc8e460416382dca,2018-11-15 00:42:00,81926,249,0,1,138,"84085, 44104, 18653, 44104, 131433, 4907, 7615...",0,1,0,1,0,6876.427536,166,182144

In [6]:
dftest.head(3)

,Unnamed: 0,Unnamed: 0.1,impression_id,impression_time,user_id,app_code,os_version,is_4G,count,item_id,AverageCost,MinCost,MaxCost
0,0,0,a9e7126a585a69a32bc7414e9d0c0ada,2018-12-13 07:44:00,44754,127,latest,1,1,128995,23424.000000,23424,23424
1,1,1,caac14a5bf2ba283db7708bb34855760,2018-12-13 07:45:00,29656,44,latest,0,72,"55912, 80771, 80771, 8365, 8365, 8365, 75146, ...",10752.375000,207,54681
2,2,2,13f10ba306a19ce7bec2f3cae507b698,2018-12-13 07:46:00,25234,296,latest,1,9,"94943, 79328, 103001, 69943, 10379, 10379, 109...",4974.555556,1238,20309

In [7]:
dftrain.columns

Index(['Unnamed: 0', 'impression_id', 'impression_time', 'user_id', 'app_code',
       'is_4G', 'is_click', 'count_item_id', 'item_id',
       'os_version_intermediate', 'os_version_latest', 'os_version_old',
       'device_type_android', 'device_type_iphone', 'AverageCost', 'MinCost',
       'MaxCost'],
      dtype='object')

In [8]:
# cols=['impression_id', 'impression_time', 'user_id', 'app_code',
#        'os_version', 'is_4G',  'count', 'item_id', 'AverageCost',
#        'MinCost', 'MaxCost','is_click']
# dftrain=dftrain[cols]
# dftrain.head(3)
dftrain=dftrain.drop(['Unnamed: 0','device_type_iphone','device_type_android'],axis=1)
dftrain.columns

Index(['impression_id', 'impression_time', 'user_id', 'app_code', 'is_4G',
       'is_click', 'count_item_id', 'item_id', 'os_version_intermediate',
       'os_version_latest', 'os_version_old', 'AverageCost', 'MinCost',
       'MaxCost'],
      dtype='object')

In [9]:
dftest.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'impression_id', 'impression_time',
       'user_id', 'app_code', 'os_version', 'is_4G', 'count', 'item_id',
       'AverageCost', 'MinCost', 'MaxCost'],
      dtype='object')

In [10]:
# col=['impression_id', 'impression_time',
#        'user_id', 'app_code', 'os_version', 'is_4G', 'count', 'item_id',
#        'AverageCost', 'MinCost', 'MaxCost']
# dftest=dftest[col]
# dftest.head(3)
dftest=dftest.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
dftest.columns

Index(['impression_id', 'impression_time', 'user_id', 'app_code', 'os_version',
       'is_4G', 'count', 'item_id', 'AverageCost', 'MinCost', 'MaxCost'],
      dtype='object')

In [11]:
dftest=dftest.rename(columns={'count':'count_item_id'})

In [12]:
dftest=pd.get_dummies(dftest,columns=['os_version'])

In [13]:
dftest.shape

(90675, 13)

In [14]:
dftrain.columns,dftest.columns

(Index(['impression_id', 'impression_time', 'user_id', 'app_code', 'is_4G',
        'is_click', 'count_item_id', 'item_id', 'os_version_intermediate',
        'os_version_latest', 'os_version_old', 'AverageCost', 'MinCost',
        'MaxCost'],
       dtype='object'),
 Index(['impression_id', 'impression_time', 'user_id', 'app_code', 'is_4G',
        'count_item_id', 'item_id', 'AverageCost', 'MinCost', 'MaxCost',
        'os_version_intermediate', 'os_version_latest', 'os_version_old'],
       dtype='object'))

In [15]:
dftrain.dtypes

impression_id               object
impression_time             object
user_id                      int64
app_code                     int64
is_4G                        int64
is_click                     int64
count_item_id                int64
item_id                     object
os_version_intermediate      int64
os_version_latest            int64
os_version_old               int64
AverageCost                float64
MinCost                      int64
MaxCost                      int64
dtype: object

# Training add column

In [16]:
arrpotentialuser=dftrain[dftrain['user_id'].duplicated()]['user_id']

In [17]:
lstpotential=[]
for i,j in dftrain.iterrows():
    #print(user)
    if(j['user_id'] in arrpotentialuser):
        lstpotential.append(1)
    else:
        lstpotential.append(0)
dftrain['potentialUser']=lstpotential

In [18]:
time=dftrain['impression_time'].str.split(' ',1,expand=True)
dftrain['i_time']=time[1]
dftrain['i_date']=time[0]
dftrain=dftrain.drop('impression_time',axis=1)
# dftrain.head(3)

In [19]:
def day_zone(x):
    a=x.split(":")
    if int(int(a[0]))>=0 and int(a[0])<=6:
        return(1)
    elif int(a[0])>6 and int(a[0])<=12:
        return(2)
    elif int(a[0])>12 and int(a[0])<=18:
        return(3)
    else:
#         int(a[0])>=0 and int(a[0])<=6:
        return(4)

In [20]:
Day_zone=dftrain['i_time'].apply(day_zone)

In [21]:
dftrain['i_time']=Day_zone

In [22]:
dftrain['i_time'].unique()

array([1, 2, 3, 4], dtype=int64)

In [23]:
date=dftrain['i_date'].str.split('-',2,expand=True)

In [24]:
date.shape

(22862, 3)

In [25]:
dftrain['i_date']=date[2]
dftrain['i_year']=date[0]
dftrain['i_month']=date[1]

In [26]:
dftrain=dftrain.reindex(sorted(dftrain.columns),axis=1)

In [27]:
dftrain=dftrain.rename(columns={'i_time':'impression_Day_zone'})

In [28]:
dftrain.columns

Index(['AverageCost', 'MaxCost', 'MinCost', 'app_code', 'count_item_id',
       'i_date', 'i_month', 'impression_Day_zone', 'i_year', 'impression_id',
       'is_4G', 'is_click', 'item_id', 'os_version_intermediate',
       'os_version_latest', 'os_version_old', 'potentialUser', 'user_id'],
      dtype='object')

In [29]:
dftrain=dftrain.drop(['impression_id','i_month','i_year'],axis=1)
dftrain.head(2)

,AverageCost,MaxCost,MinCost,app_code,count_item_id,i_date,impression_Day_zone,is_4G,is_click,item_id,os_version_intermediate,os_version_latest,os_version_old,potentialUser,user_id
0,4452.833333,14166,1024,467,12,15,1,1,1,"43209, 66370, 43209, 43209, 71877, 43209, 4320...",0,1,0,0,63410
1,13973.377049,209024,377,481,61,15,1,0,1,"100847, 117590, 6131, 78766, 129770, 13924, 11...",0,0,1,0,74339

In [30]:
dftrain.columns

Index(['AverageCost', 'MaxCost', 'MinCost', 'app_code', 'count_item_id',
       'i_date', 'impression_Day_zone', 'is_4G', 'is_click', 'item_id',
       'os_version_intermediate', 'os_version_latest', 'os_version_old',
       'potentialUser', 'user_id'],
      dtype='object')

In [31]:
dftrain=dftrain.drop(['item_id'],axis=1)

In [32]:
dftrain.dtypes

AverageCost                float64
MaxCost                      int64
MinCost                      int64
app_code                     int64
count_item_id                int64
i_date                      object
impression_Day_zone          int64
is_4G                        int64
is_click                     int64
os_version_intermediate      int64
os_version_latest            int64
os_version_old               int64
potentialUser                int64
user_id                      int64
dtype: object

In [33]:
convert_dict = {'i_date':int}
dftrain=dftrain.astype(convert_dict)

In [34]:
dftrain.columns

Index(['AverageCost', 'MaxCost', 'MinCost', 'app_code', 'count_item_id',
       'i_date', 'impression_Day_zone', 'is_4G', 'is_click',
       'os_version_intermediate', 'os_version_latest', 'os_version_old',
       'potentialUser', 'user_id'],
      dtype='object')

In [35]:
dftrain.head(3)

,AverageCost,MaxCost,MinCost,app_code,count_item_id,i_date,impression_Day_zone,is_4G,is_click,os_version_intermediate,os_version_latest,os_version_old,potentialUser,user_id
0,4452.833333,14166,1024,467,12,15,1,1,1,0,1,0,0,63410
1,13973.377049,209024,377,481,61,15,1,0,1,0,0,1,0,74339
2,6876.427536,182144,166,249,138,15,1,0,1,0,1,0,0,81926

# ---------------------------------------------------------------------------------------------------######

# Testing add column

In [36]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90675 entries, 0 to 90674
Data columns (total 13 columns):
impression_id              90675 non-null object
impression_time            90675 non-null object
user_id                    90675 non-null int64
app_code                   90675 non-null int64
is_4G                      90675 non-null int64
count_item_id              90675 non-null int64
item_id                    90675 non-null object
AverageCost                90675 non-null float64
MinCost                    90675 non-null int64
MaxCost                    90675 non-null int64
os_version_intermediate    90675 non-null uint8
os_version_latest          90675 non-null uint8
os_version_old             90675 non-null uint8
dtypes: float64(1), int64(6), object(3), uint8(3)
memory usage: 7.2+ MB

In [37]:
arrpotentialuser=dftest[dftest['user_id'].duplicated()]['user_id']

In [38]:
lstpotential=[]
for i,j in dftest.iterrows():
    #print(user)
    if(j['user_id'] in arrpotentialuser):
        lstpotential.append(1)
    else:
        lstpotential.append(0)
dftest['potentialUser']=lstpotential

In [39]:
time=dftest['impression_time'].str.split(' ',1,expand=True)
dftest['i_time']=time[1]
dftest['i_date']=time[0]
dftest=dftest.drop('impression_time',axis=1)
# dftest.head(3)

In [40]:
def day_zone(x):
    a=x.split(":")
    if int(int(a[0]))>=0 and int(a[0])<=6:
        return(1)
    elif int(a[0])>6 and int(a[0])<=12:
        return(2)
    elif int(a[0])>12 and int(a[0])<=18:
        return(3)
    else:
#         int(a[0])>=0 and int(a[0])<=6:
        return(4)

In [41]:
Day_zone=dftest['i_time'].apply(day_zone)

In [42]:
dftest['i_time']=Day_zone

In [43]:
dftest['i_time'].unique()

array([2, 4, 3, 1], dtype=int64)

In [44]:
date=dftest['i_date'].str.split('-',2,expand=True)

In [45]:
date.shape

(90675, 3)

In [46]:
dftest['i_date']=date[2]
dftest['i_year']=date[0]
dftest['i_month']=date[1]

In [47]:
dftest=dftest.reindex(sorted(dftest.columns),axis=1)

In [48]:
dftest=dftest.rename(columns={'i_time':'impression_Day_zone'})

In [49]:
dftest.columns

Index(['AverageCost', 'MaxCost', 'MinCost', 'app_code', 'count_item_id',
       'i_date', 'i_month', 'impression_Day_zone', 'i_year', 'impression_id',
       'is_4G', 'item_id', 'os_version_intermediate', 'os_version_latest',
       'os_version_old', 'potentialUser', 'user_id'],
      dtype='object')

In [50]:
dftest.shape

(90675, 17)

In [51]:
dftest=dftest.drop(['impression_id','i_month','i_year'],axis=1)
dftest.head(2)

,AverageCost,MaxCost,MinCost,app_code,count_item_id,i_date,impression_Day_zone,is_4G,item_id,os_version_intermediate,os_version_latest,os_version_old,potentialUser,user_id
0,23424.000,23424,23424,127,1,13,2,1,128995,0,1,0,0,44754
1,10752.375,54681,207,44,72,13,2,0,"55912, 80771, 80771, 8365, 8365, 8365, 75146, ...",0,1,0,0,29656

In [52]:
dftest.columns

Index(['AverageCost', 'MaxCost', 'MinCost', 'app_code', 'count_item_id',
       'i_date', 'impression_Day_zone', 'is_4G', 'item_id',
       'os_version_intermediate', 'os_version_latest', 'os_version_old',
       'potentialUser', 'user_id'],
      dtype='object')

In [53]:
dftest=dftest.drop(['item_id'],axis=1)

In [54]:
dftest.head(3)

,AverageCost,MaxCost,MinCost,app_code,count_item_id,i_date,impression_Day_zone,is_4G,os_version_intermediate,os_version_latest,os_version_old,potentialUser,user_id
0,23424.000000,23424,23424,127,1,13,2,1,0,1,0,0,44754
1,10752.375000,54681,207,44,72,13,2,0,0,1,0,0,29656
2,4974.555556,20309,1238,296,9,13,2,1,0,1,0,1,25234

# Model Fitting (Training data)

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix
from sklearn import linear_model, neighbors
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
import time

In [56]:
dftrain.dtypes

AverageCost                float64
MaxCost                      int64
MinCost                      int64
app_code                     int64
count_item_id                int64
i_date                       int32
impression_Day_zone          int64
is_4G                        int64
is_click                     int64
os_version_intermediate      int64
os_version_latest            int64
os_version_old               int64
potentialUser                int64
user_id                      int64
dtype: object

In [57]:
X=dftrain.drop(['is_click'],axis=1)
Y=dftrain['is_click']

## Logistic Parameter

In [58]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.40,random_state=7)
modelLR = LogisticRegression()
modelLR=modelLR.fit(X_train, Y_train)
result = modelLR.score(X_test, Y_test)
print(result*100.0)

64.48332422088573

In [59]:
model = LogisticRegression()
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.25816405427745764 0.1236978815524237

In [60]:
from sklearn.metrics import precision_score, \
    recall_score, confusion_matrix, classification_report, \
    accuracy_score, f1_score
clf = LogisticRegression(solver = 'lbfgs')
# fit the model
clf.fit(X_train, Y_train.ravel())

# prediction for training dataset
train_pred = clf.predict(X_train)

# prediction for testing dataset
test_pred = clf.predict(X_test)## Grid Search

In [61]:
print('Confusion Matrix - Training Dataset')
print(pd.crosstab(Y_train.ravel(), train_pred, rownames = ['True'], colnames = ['Predicted'], margins = True))

Confusion Matrix - Training Dataset
Predicted      0     1    All
True
0           5573  1571   7144
1           4774  1799   6573
All        10347  3370  13717

In [62]:
print ('Accuracy:', accuracy_score(Y_test, test_pred))
print ('F1 score:', f1_score(Y_test, test_pred))
print ('Recall:', recall_score(Y_test, test_pred))
print ('Precision:', precision_score(Y_test, test_pred))
print ('\n clasification report:\n', classification_report(Y_test,test_pred))
print ('\n confussion matrix:\n',confusion_matrix(Y_test, test_pred))

Accuracy: 0.5401858939311099
F1 score: 0.3612334801762115
Recall: 0.27722079738866867
Precision: 0.518308631211857

 clasification report:
               precision    recall  f1-score   support

           0       0.55      0.77      0.64      4856
           1       0.52      0.28      0.36      4289

    accuracy                           0.54      9145
   macro avg       0.53      0.52      0.50      9145
weighted avg       0.53      0.54      0.51      9145


 confussion matrix:
 [[3751 1105]
 [3100 1189]]

## Random Forest

In [63]:
# model = RandomForestClassifier(criterion='entropy', max_depth = 5, max_leaf_nodes = 6, min_samples_leaf = 2, min_samples_split = 2)
model = RandomForestClassifier(criterion='gini', max_depth = 5, max_leaf_nodes = 6, min_samples_leaf = 2, min_samples_split = 2)
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.7631051326560635 0.1956147047583564

In [64]:
model = DecisionTreeClassifier()
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.7627290496835779 0.10476647491318859

In [65]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

## Grid Search

In [66]:
parameters = {'max_depth':[5,10,20,50,100], 'min_samples_leaf':[2,3,4], 'max_leaf_nodes':[6,7,8], 'criterion':['gini','entropy'],
             'min_samples_split':[2,3,4]}
DecisionTree = DecisionTreeClassifier()
grid_search = GridSearchCV(DecisionTree,parameters)
grid_search.fit(X_train, Y_train)

print(grid_search.best_params_)

{'criterion': 'entropy', 'max_depth': 5, 'max_leaf_nodes': 6, 'min_samples_leaf': 2, 'min_samples_split': 2}

In [67]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
scoring = 'roc_auc'
results = cross_val_score(model, X, Y, scoring=scoring)
print(results.mean(), results.std())

0.7536394663502445 0.18480554629959559

In [68]:
from sklearn.metrics import roc_auc_score
Decision_Tree_best = grid_search.best_estimator_
pos_prob = Decision_Tree_best.predict_proba(X_test)[:,1]
print('The ROC AUC on testing set is: {0:3f}'.format(roc_auc_score(Y_test, pos_prob)))

The ROC AUC on testing set is: 0.941245

In [69]:
Y_predict = Decision_Tree_best.predict(X_test)
accuracy_score = (Y_test,Y_predict)

In [70]:
DecisionTree

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

### Xgboost

In [71]:
# Instantiate random forest and train on new features
from sklearn.ensemble import RandomForestRegressor
rf_exp = RandomForestRegressor(n_estimators= 1000, random_state=100)
rf_exp.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=100, verbose=0,
                      warm_start=False)

## Add Testing column

In [72]:
dftrain.shape

(22862, 14)

In [73]:
dftest.shape

(90675, 13)

In [74]:
convert_dict = {'i_date':int}
dftest=dftest.astype(convert_dict)

In [75]:
dftest.dtypes

AverageCost                float64
MaxCost                      int64
MinCost                      int64
app_code                     int64
count_item_id                int64
i_date                       int32
impression_Day_zone          int64
is_4G                        int64
os_version_intermediate      uint8
os_version_latest            uint8
os_version_old               uint8
potentialUser                int64
user_id                      int64
dtype: object

In [76]:
Z=dftest
#Y=dftrain['is_click']

In [77]:
y_predict=rf_exp.predict(Z)

In [78]:
y_predict

array([1., 1., 1., ..., 1., 1., 1.])

In [79]:
len(y_predict)

90675

In [80]:
dftest=pd.read_csv('Compiled file test.csv')

In [81]:
dftest['is_click']=y_predict

In [82]:
dftest.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'impression_id', 'impression_time',
       'user_id', 'app_code', 'os_version', 'is_4G', 'count', 'item_id',
       'AverageCost', 'MinCost', 'MaxCost', 'is_click'],
      dtype='object')

In [83]:
df=dftest.loc[:,['impression_id','is_click']]

In [84]:
df.columns

Index(['impression_id', 'is_click'], dtype='object')

In [85]:
df.to_csv('submission_rajeev_xgboost.csv')